.italics{
    font-size: x-large;
    font-style: italic;
}

.user_pass{
    width: 245px;
    height: 40px;
}

.repos{
    padding-bottom: 1%;
    margin-top: 6%;
    width: 40%;
    margin-left: -30px;
    font-size: xx-large;
}

body{
    background-image: url(../pics/airport\ login.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Allerta Stencil';
    font-size: 22px;
}

